<div class="inventory-lookup">
  <div class="input-group">
    <input class="input-field" [(ngModel)]="username" placeholder="Digite o nome do jogador" (keyup.enter)="fetchItems()" autofocus>
    <button class="button-search" (click)="fetchItems()">Buscar inventário</button>
  </div>

  <div class="banana-progress-bar" *ngIf="progressValue > 0 && progressValue < 100">
    <div class="banana-fill" [style.width]="progressValue + '%'"></div>
  </div>

  <div *ngIf="!itemsVisible && progressValue > 0" class="loading-indicator">
    Carregando Itens. Aguarde.
  </div>

  <ng-container *ngIf="itemsVisible">
    <ng-container *ngFor="let item of userItems">
      <div *ngIf="item.quantity > 0" class="item-entry">
        <img [src]="item.image" [alt]="item.name" class="item-image">
        <div class="item-details">
          <span>{{ item.name }}</span>
          <span>{{ item.quantity }}</span>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
