/* header.component.css */
header {
  background-color: #003366; /* Dark blue background */
  color: white;
  padding: 0px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* Adds depth with a shadow */
}

nav {
  display: flex;
}

.nav-link {
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover, .nav-link.active {
  background-color: #336699; /* Lighter blue for hover and active */
  color: #FFF;
}

/* header.component.css */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }
  .nav-link {
    text-align: center;
    padding: 8px;
  }
}
