/* styles.css */
body, html {
  height: 100%;
  margin: 0;
}

.body-bg {
  background-image: url('../assets/background.png');
  /* background-size: cover; */
  background-position: center;
  /* background-repeat: no-repeat; */
}
