/* styles.css */
body, html {
  height: 100%;
  margin: 0;
}

.body-bg {
  width: 100%;
  /* Gradient background from dark gray to light gray */
  background: #292424;
  min-height: 100vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
